html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto;
  background-color: #889;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 297mm;
  width: 210mm;
}

.button1 {
  border: solid 1px #333;
  background-color: #eeeeee;
  color: #333;
  height: 30px;
  min-width: 100px;
  box-sizing: border-box;
  outline: none;
  opacity: 0.0;
}

.button1:hover {
  opacity: 1.0;
}

input::file-selector-button {
  border: solid 1px #333;
  background-color: #eeeeee;
  color: #333;
  height: 30px;
  min-width: 100px;
  box-sizing: border-box;
  outline: none;
}

input[type="file"] {
  opacity:0.0;
}

input[type="file"]:hover {
  opacity:1.0;
}

@page {
  margin: 0;
  size: A4 portrait;
}

.page {
  box-sizing: border-box;
  height: 297mm;
  width: 210mm;
  margin: 0;
  padding: 0;
}

.milkdown .editor {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-spacing-trim: space-all;

  & h1,h2,h3,h4,h5,h6 {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-spacing-trim: space-all;
  }

  & h1 { font-size: 3em; counter-reset: h2; }
  & h2 { font-size: 2em; counter-reset: h3; }
  & h3 { font-size: 1.75em; counter-reset: h4; }
  & h4 { font-size: 1.5em; counter-reset: h5; }
  & h5 { font-size: 1.25em; counter-reset: h6; }

  & h1::before { display:inline-block; margin-left:-20px; transform: scale(1.0,1.0); letter-spacing: 0.1em; color: #AAA; font-size: 0.7em; content:''; }
  & h2::before { display:inline-block; margin-left:-20px; transform: scale(1.0,1.0); letter-spacing: 0.1em; color: #AAA; font-size: 0.7em; counter-increment: h2; content:counter(h2) " "; }
  & h3::before { display:inline-block; margin-left:-20px; transform: scale(1.0,1.0); letter-spacing: 0.1em; color: #AAA; font-size: 0.7em; counter-increment: h3; content:counter(h2) "." counter(h3) " "; }
  & h4::before { display:inline-block; margin-left:-20px; transform: scale(1.0,1.0); letter-spacing: 0.1em; color: #AAA; font-size: 0.7em; counter-increment: h4; content:counter(h2) "." counter(h3) "." counter(h4) " "; }
  & h5::before { display:inline-block; margin-left:-20px; transform: scale(1.0,1.0); letter-spacing: 0.1em; color: #AAA; font-size: 0.7em; counter-increment: h5; content:counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " "; }
}

/*
& h1 { font-size: 3em; counter-reset: h2; }
& h2 { font-size: 2em; counter-reset: h3; }
& h3 { font-size: 1.75em; counter-reset: h4; }
& h4 { font-size: 1.5em; counter-reset: h5; }
& h5 { font-size: 1.25em; counter-reset: h6; }

& h1::before { display:inline-block; margin-left:0px; transform: scale(1.0,1.0); color: #AAA; font-size: 0.7em; content:''; }
& h2::before { display:inline-block; margin-left:0px; transform: scale(1.0,1.0); color: #AAA; font-size: 0.7em; counter-increment: h2; content:counter(h2) " "; }
& h3::before { display:inline-block; margin-left:0px; transform: scale(1.0,1.0); color: #AAA; font-size: 0.7em; counter-increment: h3; content:counter(h2) "." counter(h3) " "; }
& h4::before { display:inline-block; margin-left:0px; transform: scale(1.0,1.0); color: #AAA; font-size: 0.7em; counter-increment: h4; content:counter(h2) "." counter(h3) "." counter(h4) " "; }
& h5::before { display:inline-block; margin-left:0px; transform: scale(1.0,1.0); color: #AAA; font-size: 0.7em; counter-increment: h5; content:counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " "; }
 * */

  /*
  & h1 { font-size: 3em; }
  & h2 { font-size: 2em; }
  & h3 { font-size: 1.75em; }
  & h4 { font-size: 1.5em; }
  & h5 { font-size: 1.25em; }
  & h6 { font-size: 1.0em; }

  & h1::before { display:inline-block; letter-spacing: 0.25em; margin-left:-10px; transform: scale(0.6,1.0); color: #AA9; font-size: 0.7em; font-family: cursive; content:'#' }
  & h2::before { display:inline-block; letter-spacing: 0.25em; margin-left:-10px; transform: scale(0.6,1.0); color: #AA9; font-size: 0.7em; font-family: cursive; content:'##' }
  & h3::before { display:inline-block; letter-spacing: 0.25em; margin-left:-10px; transform: scale(0.6,1.0); color: #AA9; font-size: 0.7em; font-family: cursive; content:'###' }
  & h4::before { display:inline-block; letter-spacing: 0.25em; margin-left:-10px; transform: scale(0.6,1.0); color: #AA9; font-size: 0.7em; font-family: cursive; content:'####' }
  & h5::before { display:inline-block; letter-spacing: 0.25em; margin-left:-10px; transform: scale(0.6,1.0); color: #AA9; font-size: 0.7em; font-family: cursive; content:'#####' }
   */
